
.contact-image {
    background-image: url('./assets/barista.png');
    background-size: cover;
    background-position: center;
    min-height: 37.5rem;
}

/* Inputs sobre overlay (móvil) */
.custom-input {
    background: beige;
    color: black;
}

.logo-img {
    width: 6.25rem;
    height: auto;
}

.contact-image {
    background-image: url('../assets/barista.png');
    background-size: cover;
    background-position: center;
    min-height: 37.5rem;
}