html {
  --primaryColor: #011C40;
  --secondaryColor: #023859;
  --bgColor: #26658C;
  --fifthColor: #54ACBF;
  --color-light: #A7EBF2;
  --textColor: #FFFFFF;
  --hgColor: #FDF5AA;
  --mainFamilyFont: "Outfit", sans-serif;

}

body {
  font-family: var(--mainFamilyFont);
  background: linear-gradient(90deg, var(--secondaryColor) 0%, var(--bgColor) 100%);
  min-height: 100vh;
  color: var(--textColor);
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navBar,
#navbar-nav a:visited,
#navbar-nav a:hover,
#navbar-nav a:active,
#nav-link a {
  height: 55px;
  background-color: var(--bgColor);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.5rem -0.12rem black;
  font-family: var(--mainFamilyFont);

}

.navbar-toggler {
  background-color: var(--primaryColor);
  border-radius: 50rem;
}

@media (max-width: 991.98px) {
  .navbar {
    position: relative;
  }

  #mainNavbarContent {
    position: absolute;
    top: 85%;
    right: 0;
    width: 10rem;
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1000;
  }
}

.nav-link {
  color: var(--textColor);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--hgColor);
  font-weight: 600;
}

#carrito,
a#carrito {
  background-color: var(--hgColor);
  border-radius: 0.5rem;
  color: black;
  box-shadow: 0 0.3rem 0.5rem -0.12rem black;
}

.form-login {
  background-color: var(--primaryColor);
  border: 1px solid var(--hgColor);
  border-radius: 1rem;
  box-shadow: -0.7rem 1rem 1rem -0.12rem black;
  max-width: 20rem;
  height: auto;
  padding: 2rem;
}

.frminp {
  border-radius: 0.4rem;
  width: 15.5rem;
  height: 2.3rem;
  padding: 10px 15px;
}

.frminp::placeholder {
  color: var(--bgColor);
}

.Btn{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 15.5rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hgColor);
  border: none;
  border-radius: 0.5rem;
  color: var(--primaryColor);
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 1.3rem;
}

.svgIcon path {
  fill: var(--primaryColor);
}

.Btn::before {
  width: 15.5rem;
  height: 2.3rem;
  position: absolute;
  content: "";
  background-color: var(--secondaryColor);
  border-radius: 0.5rem;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%, 0);
  border-radius: 0.1rem;
}

@media (max-width: 390px) {
  .Btn{
    transition: none !important;
    animation: none !important;
    transform: none !important;
  }

  .Btn::before{
    transition: none !important;
    transform: none !important;
    left: 0 !important;
    right: 0 !important;
    background-color: transparent !important;
  }

  .Btn:hover{
    transform: none !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103) !important;
  }

  .Btn:hover::before{
    transform: none !important;
  }

  .Btn:active{
    transform: none !important;
  }

}

@media (max-width: 768px) {
  .form-signin {
    height: auto;
    padding: 1.5rem;
    margin: 2rem;
  }

  .form-signin .frminp {
    width: 100%;
    display: block;
  }

  .Btn, .Btn2 {
    width: 100%;
    margin-bottom: 1rem;
  }
}
