html{
    --primaryColor: #011C40;
    --secondaryColor: #023859;
    --thirdColor: #023859;
    --fouthColor: #26658C;
    --fifthColor: #54ACBF;

}


.nav-link{
    color: white;
}
.nav-link:hover{
    color:#FDF5AA;
    font-weight: bolder ;
}

#navBar,
#navbar-nav a:visited,
#navbar-nav a:hover,
#navbar-nav a:active,
#nav-link a {
  height: 55px;
  background-color: #26658C;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px -3px black;
  font-family: "Outfit", sans-serif;
}

#carrito,
a#carrito {
  background-color: #FDF5AA;
  border-radius: 15px;
  color: #011C40;
  box-shadow: 0px 8px 15px -3px black;
}



body{
    background: linear-gradient(90deg,#023859, #26658c);
}