div#welcome {
  justify-content: center;
  align-items: center;
   display: flex;
  flex-direction: column;
  height: 60rem;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
  color: #fff;
  text-align: center;
  padding: 3rem;
  margin-bottom: 1rem;
}

div#teamCards{
  margin-top: 1rem;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color:#FDF5AA;
    font-weight: bolder ;
}

h2#title {
  margin: 2rem;
  padding: 1rem;
  font-size: 3rem;
}

h3#subtitle {
  font-size: 2rem;
  margin: 2rem;
}

p#teamText {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}
button#info{
  margin-top: 3rem;
  height: 3rem;
  width: 6rem;
  padding: 1rem;
  text-align: center;

}

a#linkAboutUs {
  padding: 1rem;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: background-color 0.3s;
  margin: 1rem;
}

div#semiFootContainer {
  width: 100%;
  height: 22rem;
  color: white;
   display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

div.semiFoot {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.semiFoot img {
  width: 100%;
  object-fit: contain;
}

div.semiFoot-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* Alinea todo a la izquierda */
  font-size: 1.1rem;
  line-height: 1.6;
  color: white  ;
  max-width: 90%;
}

div#semiFoot-text p {
  margin-bottom: 1rem;
  width: 100%;
}

div#semifoot-cofee {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

#navBar,
#navbar-nav a:visited,
#navbar-nav a:hover,
#navbar-nav a:active,
#nav-link a {
  height: 55px;
  background-color: #26658C;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px -3px black;
  font-family: "Outfit", sans-serif;
}

#carrito,
a#carrito {
  background-color: #FDF5AA;
  border-radius: 15px;
  color: #011C40;
  box-shadow: 0px 8px 15px -3px black;
}

body {
  background-color: #26658C;
}



.team-card {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  color: #fff;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
}

/* Foto redonda */
.team-card img {
  height: 15rem;
  object-fit: contain;
  width: 40%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.3rem solid #ffffff;
  margin-bottom: 0.5rem;
}

/* Títulos */
.team-card h3 {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.team-card h4 {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: #d1e8ff;
}

/* Descripción */
.team-card p {
  font-size: 0.9rem;
  margin-top: 0.6rem;
  color: #e5e5e5;
  overflow: hidden;
}

