
div#welcome {
  justify-content: center;
  align-items: center;
   display: flex;
  flex-direction: column;
  height: 60rem;
  background: linear-gradient( var(--primaryColor),white),url(../assets/CafeteriaAboutUS.webp) ;
  color: var(--textColor);
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 1rem;

}
h2#title {
  margin: 2rem;
  padding: 1rem;
  font-size: 3rem;
}

h3#subtitle {
  font-size: 2rem;
  margin: 2rem;
}

p#teamText {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}
a#linkAboutUs {
  padding: 0.5rem;
  background-color: var(--bgColor);
  color:var(--textColor);
  text-decoration: none;
  border-radius: 0.8rem;
  transition: background-color 0.3s;
  margin: 1rem;
}

div#teamCards{
  margin-top: 1rem;
}
div.team-card {
  text-align: center;
  padding: 2rem 0 2rem 0;
  border-radius: 0.5rem;
  background: var(--bgColor);
  backdrop-filter: blur(10px);
  color:var(--textColor);
  border: 0.1rem solid var(--thirdColor);
  box-shadow: 0 0 0.8rem var(--primaryColor);
  

}

/* Foto redonda */
.team-card img {
  height: 15rem;
  object-fit: contain;
  width: 40%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.3rem solid var(--textColor);
  margin-bottom: 0.5rem;
}

/* Nombres */
.team-card h3 {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.team-card h4 {
  margin: 0.3rem 0;
  font-size: 1rem;
  color: var(--textColor);
}

/* Descripción */
.team-card p {
  font-size: 0.9rem;
  margin-top: 0.6rem;
  color: var(--textColor);
  overflow: hidden;
}

button#info{
  margin-top: 3rem;
  height: 3rem;
  width: 6rem;
  padding: 1rem;
  text-align: center;
}

div#semiFootContainer {
  height: 30rem;
  color: var(--textColor);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

img.semiFoot {
  width: 100%;
  object-fit: contain;
}

div#semiFoot-text {
  font-size: 1.1rem;
  object-fit: contain;

  p.semiFootp{
    text-align: center;
  }
}






